{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block head %}
    <link rel="stylesheet" href="stylesheets/tables.css">
{% endblock %}

{% block content %}
  <h1>Table cell merge</h1>
  <div data-module="table_merge">
      <input type="radio" name="mode" value="merge" > Merge<br>
      <input type="radio" name="mode" value="insert" > Insert<br>
      <input type="radio" name="mode" value="delete" checked> Delete<br>
      {% include "./tables/unit_test.html" %}
      {% include "./tables/simple_1.html" %}
      {% include "./tables/simple_2.html" %}
      {% include "./tables/simple_3.html" %}
      {% include "./tables/edge_cases.html" %}
  </div>
{% endblock %}
