$arrow-size: 10px
$arrow-border-color: #555
$arrow-inactive-color: rgba(150, 150, 150, 0.3)

.table-test, .invalid-table-test
  border: 1px solid #444
  border-collapse: collapse
  margin-top: 20px
  margin-left: 20px

  td, th
    border: 1px solid #444
    padding: 4px

  td
    background: mediumaquamarine

  th
    background: lightblue

.arrow-container
  display: inline-block
  width: $arrow-size * 4
  height: $arrow-size * 4
  position: relative

.arrow
  position: absolute
  width: 0px 
  height: 0px 
  border-left: $arrow-size solid transparent
  border-right: $arrow-size solid transparent
  border-top: $arrow-size solid transparent
  border-bottom: $arrow-size solid transparent

.arrow-up
  border-bottom: $arrow-size solid $arrow-border-color
  top: 0 - $arrow-size / 2
  left: $arrow-size * 1.5

.arrow-up.inactive
  border-bottom-color: $arrow-inactive-color

.arrow-down
  border-top: $arrow-size solid $arrow-border-color
  top: $arrow-size * 3.5
  left: $arrow-size * 1.5

.arrow-down.inactive
  border-top-color: $arrow-inactive-color

.arrow-right
  border-left: $arrow-size solid $arrow-border-color
  top: $arrow-size * 1.5
  left: $arrow-size * 3.5

.arrow-right.inactive
  border-left-color: $arrow-inactive-color

.arrow-left
  border-right: $arrow-size solid $arrow-border-color 
  top: $arrow-size * 1.5
  left: 0 - $arrow-size / 2

.arrow-left.inactive
  border-right-color: $arrow-inactive-color 

